body{
  padding: 0;
  margin: 0;
}

.box-holder{
  overflow: hidden;
}

.box{
  position: relative;
  width: 100%;
  float: left;
}

.box img{
  width: 100%;
  height: auto;
}

p{
  clear: both;
}

.bg-cover{
  height: 400px;
  width: 20%;
  display: inline-block;
  vertical-align: top;
  margin: 0 -4px 0 0;
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
  opacity:0;
}

.bg-cover.loaded{
  opacity:1;
}